body {
    margin: 0;
    padding: 0;
}

.lists {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 10px;
}

.logo {
    margin-top: 14px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

ul {
    display: flex;

}

li {
    
    list-style: none;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;
    color: rgb(43, 27, 27);
}

li:target {
    color: rgb(44, 28, 28);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-underline-position: above;
}